* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: "Open Sans", sans-serif;
    color: #444444;
}

a {
    color: #1977cc;
    text-decoration: none;
}

a:hover {
    color: #3291e6;
    text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Raleway", sans-serif;
}

section {
    padding: 60px 0;
    overflow: hidden;
}

li {
    list-style-type: none;
}

section {
    padding: 60px 0;
    overflow: hidden;
}

.section-bg {
    background-color: #f1f7fd;
}

.section-title {
    text-align: center;
    padding-bottom: 30px;
}

.section-title h2 {
    font-size: 32px;
    font-weight: bold;
    margin-bottom: 20px;
    padding-bottom: 20px;
    position: relative;
    color: #2c4964;
}

.section-title h2::before {
    content: "";
    position: absolute;
    display: block;
    width: 120px;
    height: 1px;
    background: #ddd;
    bottom: 1px;
    left: calc(50% - 60px);
}

.section-title h2::after {
    content: "";
    position: absolute;
    display: block;
    width: 40px;
    height: 3px;
    background: #1977cc;
    bottom: 0;
    left: calc(50% - 20px);
}

.section-title p {
    margin-bottom: 0;
}


/* TOPBAR */
#topbar {
    background: #fff;
    height: 40px;
    font-size: 14px;
    transition: all 0.5s;
    z-index: 996;
    /* box-shadow: 10px 20px red; */
    /* box-shadow: 0px 20px 15px #0962d6; */
}

/* #topbar .topbar-scrolled {
    top: -40px;
} */

#topbar .contact-info a {
    line-height: 1;
    color: #444444;
    transition: 0.3s;
}

#topbar .contact-info a:hover {
    color: #1977cc;
}

#topbar .contact-info i {
    color: #1977cc;
    padding-right: 4px;
    margin-left: 15px;
    line-height: 0;
}

#topbar .contact-info i:first-child {
    margin-left: 0;
}

#topbar .social-linkz a {
    color: #437099;
    padding-left: 15px;
    display: inline-block;
    line-height: 1px;
    transition: 0.3s;
}

#topbar .social-linkz a:hover {
    color: #1977cc;
}

#topbar .social-linkz a:first-child {
    border-left: 0;
}



/* NAVBAR */
#header {
    background: #fff;
    transition: all 0.5s;
    z-index: 997;
    padding: 15px 0;
    /* top: 40px; */
    box-shadow: 0px 2px 15px rgba(25, 119, 204, 0.1);
}


#header .logo {
    font-size: 30px;
    margin: 0;
    padding: 0;
    line-height: 1;
    font-weight: 700;
    letter-spacing: 0.5px;
    font-family: "Poppins", sans-serif;
}

#header .logo a {
    color: #2c4964;
}

#header .logo img {
    max-height: 40px;
}

/**
  * Appointment Button *
  */
.appointment-btn {
    margin-left: 25px;
    background: #1977cc;
    color: #fff;
    border-radius: 50px;
    padding: 8px 25px;
    white-space: nowrap;
    transition: 0.3s;
    font-size: 14px;
    display: inline-block;
}

.appointment-btn:hover {
    background: #166ab5;
    color: #fff;
}


/* HEADER */
.header {
    width: 100%;
    height: 90vh;
    background: url(hero-bg.jpg) top center fixed;
    background-size: cover;
    margin-bottom: -200px;
}

.header .container {
    position: relative;
}

.header h1 {
    margin: 0;
    font-size: 48px;
    font-weight: 700;
    line-height: 56px;
    text-transform: uppercase;
    color: #2c4964;
}

.header h2 {
    color: #2c4964;
    margin: 10px 0 0 0;
    font-size: 24px;
}

.header .btn-get-started {
    font-family: "Raleway", sans-serif;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 14px;
    letter-spacing: 1px;
    display: inline-block;
    padding: 12px 35px;
    margin-top: 30px;
    border-radius: 50px;
    transition: 0.5s;
    color: #fff;
    background: #1977cc;
}

.header .btn-get-started:hover {
    background: #3291e6;
}






.nav-menu ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.nav-menu>ul {
    display: flex;
}

.nav-menu>ul>li {
    position: relative;
    white-space: nowrap;
    padding: 8px 0 8px 20px;
}

.nav-menu a {
    display: block;
    position: relative;
    color: #2c4964;
    transition: 0.3s;
    font-size: 14px;
    font-family: "Open Sans", sans-serif;
    padding: 5px 2px;
    border-bottom: 2px solid #fff;
}

.nav-menu a:hover,
.nav-menu .active>a,
.nav-menu li:hover>a {
    color: #1977cc;
    border-color: #1977cc;
}

.nav-menu .drop-down ul {
    display: block;
    position: absolute;
    left: 20px;
    top: calc(100% + 30px);
    z-index: 99;
    opacity: 0;
    visibility: hidden;
    padding: 10px 0;
    background: #fff;
    box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
    transition: 0.3s;
}

.nav-menu .drop-down:hover>ul {
    opacity: 1;
    top: 100%;
    visibility: visible;
}

.nav-menu .drop-down li {
    min-width: 180px;
    position: relative;
}

.nav-menu .drop-down ul a {
    padding: 10px 20px;
    font-size: 14px;
    font-weight: 500;
    text-transform: none;
    color: #082744;
    border: none;
}

.nav-menu .drop-down ul a:hover,
.nav-menu .drop-down ul .active>a,
.nav-menu .drop-down ul li:hover>a {
    color: #1977cc;
}

.nav-menu .drop-down>a:after {
    content: "\ea99";
    font-family: IcoFont;
    padding-left: 5px;
}

.nav-menu .drop-down .drop-down ul {
    top: 0;
    left: calc(100% - 30px);
}

.nav-menu .drop-down .drop-down:hover>ul {
    opacity: 1;
    top: 0;
    left: 100%;
}

.nav-menu .drop-down .drop-down>a {
    padding-right: 35px;
}

.nav-menu .drop-down .drop-down>a:after {
    content: "\eaa0";
    font-family: IcoFont;
    position: absolute;
    right: 15px;
}

@media (max-width: 1366px) {
    .nav-menu .drop-down .drop-down ul {
        left: -90%;
    }

    .nav-menu .drop-down .drop-down:hover>ul {
        left: -100%;
    }

    .nav-menu .drop-down .drop-down>a:after {
        content: "\ea9d";
    }
}

/* Get Startet Button */
.appointment-btn {
    margin-left: 25px;
    background: #1977cc;
    color: #fff;
    border-radius: 50px;
    padding: 8px 25px;
    white-space: nowrap;
    transition: 0.3s;
    font-size: 14px;
    display: inline-block;
}

.appointment-btn:hover {
    background: #166ab5;
    color: #fff;
}

@media (max-width: 768px) {
    .appointment-btn {
        margin: 0 48px 0 0;
        padding: 6px 18px;
    }
}

/* Mobile Navigation */
.mobile-nav-toggle {
    position: fixed;
    right: 15px;
    top: 15px;
    z-index: 9998;
    border: 0;
    background: none;
    font-size: 24px;
    transition: all 0.4s;
    outline: none !important;
    line-height: 1;
    cursor: pointer;
    text-align: right;
}

.mobile-nav-toggle i {
    color: #1977cc;
}

.mobile-nav {
    position: fixed;
    top: 55px;
    right: 15px;
    bottom: 15px;
    left: 15px;
    z-index: 9999;
    overflow-y: auto;
    background: #fff;
    transition: ease-in-out 0.2s;
    opacity: 0;
    visibility: hidden;
    border-radius: 10px;
    padding: 10px 0;
}

.mobile-nav * {
    margin: 0;
    padding: 0;
    list-style: none;
}

.mobile-nav a {
    display: block;
    position: relative;
    color: #2c4964;
    padding: 10px 20px;
    font-weight: 500;
    outline: none;
}

.mobile-nav a:hover,
.mobile-nav .active>a,
.mobile-nav li:hover>a {
    color: #1977cc;
    text-decoration: none;
}

.mobile-nav .drop-down>a:after {
    content: "\ea99";
    font-family: IcoFont;
    padding-left: 10px;
    position: absolute;
    right: 15px;
}

.mobile-nav .active.drop-down>a:after {
    content: "\eaa1";
}

.mobile-nav .drop-down>a {
    padding-right: 35px;
}

.mobile-nav .drop-down ul {
    display: none;
    overflow: hidden;
}

.mobile-nav .drop-down li {
    padding-left: 20px;
}

.mobile-nav-overly {
    width: 100%;
    height: 100%;
    z-index: 9997;
    top: 0;
    left: 0;
    position: fixed;
    background: rgba(28, 47, 65, 0.6);
    overflow: hidden;
    display: none;
    transition: ease-in-out 0.2s;
}

.mobile-nav-active {
    overflow: hidden;
}

.mobile-nav-active .mobile-nav {
    opacity: 1;
    visibility: visible;
}

.mobile-nav-active .mobile-nav-toggle i {
    color: #fff;
}


/* CARDS */
.cards .content {
    padding: 30px;
    background: #1977cc;
    border-radius: 4px;
    color: #fff;
}

.cards .content h3 {
    font-weight: 700;
    font-size: 34px;
    margin-bottom: 30px;
}

.cards .content p {
    margin-bottom: 30px;
}

.cards .content .more-btn {
    display: inline-block;
    background: rgba(255, 255, 255, 0.2);
    padding: 6px 30px 8px 30px;
    color: #fff;
    border-radius: 50px;
    transition: all ease-in-out 0.4s;
}

.cards .content .more-btn i {
    font-size: 14px;
}

.cards .content .more-btn:hover {
    color: #1977cc;
    background: #fff;
}

.cards .boxIconzes .boxIconz {
    text-align: center;
    border-radius: 10px;
    background: #fff;
    box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
    padding: 40px 30px;
    width: 100%;
}

.cards .boxIconzes .boxIconz i {
    font-size: 40px;
    color: #1977cc;
    margin-bottom: 30px;
}

.cards .boxIconzes .boxIconz h4 {
    font-size: 20px;
    font-weight: 700;
    margin: 0 0 30px 0;
}

.cards .boxIconzes .boxIconz p {
    font-size: 15px;
    color: #848484;
}






/* ABOUT */
.about .boxIconzes h4 {
    font-size: 18px;
    color: #4b7dab;
    margin-bottom: 15px;
}

.about .boxIconzes h3 {
    font-size: 28px;
    font-weight: 700;
    color: #2c4964;
    margin-bottom: 15px;
}

.about .boxIconz {
    margin-top: 40px;
}

.about .boxIconz .icon {
    float: left;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 64px;
    height: 64px;
    border: 2px solid #8dc2f1;
    border-radius: 50px;
    transition: 0.5s;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    -ms-border-radius: 50px;
    -o-border-radius: 50px;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -ms-transition: 0.5s;
    -o-transition: 0.5s;
    -moz-transition: 0.5s;
    -ms-transition: 0.5s;
}

.about .boxIconz .icon i {
    color: #1977cc;
    font-size: 32px;
}

.about .boxIconz:hover .icon {
    background: #1977cc;
    border-color: #1977cc;
}

.about .boxIconz:hover .icon i {
    color: #fff;
}

.about .boxIconz .title {
    margin-left: 85px;
    font-weight: 700;
    margin-bottom: 10px;
    font-size: 18px;
}

.about .boxIconz .title a {
    color: #343a40;
    transition: 0.3s;
}

.about .boxIconz .title a:hover {
    color: #1977cc;
}

.about .boxIconz .description {
    margin-left: 85px;
    line-height: 24px;
    font-size: 14px;
}

.about .leftPics {
    background: url("about.jpg") center center no-repeat;
    background-size: cover;
    min-height: 500px;
}




/* ICONSCARD */
.iconsCard {
    background: #f1f7fd;
    padding: 70px 0 60px;
}

.iconsCard .iconBoxxx {
    padding: 30px 30px 25px 30px;
    width: 100%;
    position: relative;
    text-align: center;
    background: #fff;
}

.iconsCard .iconBoxxx i {
    position: absolute;
    top: -25px;
    left: 50%;
    transform: translateX(-50%);
    font-size: 20px;
    background: #1977cc;
    color: #fff;
    border-radius: 50px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 48px;
    height: 48px;
}

.iconsCard .iconBoxxx span {
    font-size: 36px;
    display: block;
    font-weight: 600;
    color: #082744;
}

.iconsCard .iconBoxxx p {
    padding: 0;
    margin: 0;
    font-family: "Raleway", sans-serif;
    font-size: 14px;
}


/* SERVICES */
.services .boxIconz {
    text-align: center;
    border: 1px solid #d5e1ed;
    padding: 80px 20px;
    transition: all ease-in-out 0.3s;
}

.services .boxIconz .icon {
    margin: 0 auto;
    width: 64px;
    height: 64px;
    background: #1977cc;
    border-radius: 5px;
    transition: all 0.3s ease-out 0s;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
    transform-style: preserve-3d;
    position: relative;
    z-index: 2;
}

.services .boxIconz .icon i {
    color: #fff;
    font-size: 28px;
    transition: ease-in-out 0.3s;
}

.services .boxIconz .icon::before {
    position: absolute;
    content: "";
    left: -8px;
    top: -8px;
    height: 100%;
    width: 100%;
    background: rgba(25, 119, 204, 0.2);
    border-radius: 5px;
    transition: all 0.3s ease-out 0s;
    transform: translateZ(-1px);
    z-index: -1;
}

.services .boxIconz h4 {
    font-weight: 700;
    margin-bottom: 15px;
    font-size: 24px;
}

.services .boxIconz h4 a {
    color: #2c4964;
}

.services .boxIconz p {
    line-height: 24px;
    font-size: 14px;
    margin-bottom: 0;
}

.services .boxIconz:hover {
    background: #1977cc;
    border-color: #1977cc;
}

.services .boxIconz:hover .icon {
    background: #fff;
}

.services .boxIconz:hover .icon i {
    color: #1977cc;
}

.services .boxIconz:hover .icon::before {
    background: rgba(255, 255, 255, 0.3);
}

.services .boxIconz:hover h4,
.services .boxIconz:hover p {
    color: #fff;
}


/* APPOINTMENT */
.appointment {
    background-color: #f1f7fd;
}

.appointment .form-group {
    padding-bottom: 8px;
}

.appointment input,
.appointment textarea,
.appointment select {
    border-radius: 0;
    box-shadow: none;
    font-size: 14px;
    padding: 10px !important;
}

.appointment input,
.appointment select {
    height: 44px;
}

.appointment textarea {
    padding: 10px 12px;
}

.appointment button[type=submit] {
    background: #1977cc;
    border: 0;
    padding: 10px 35px;
    color: #fff;
    transition: 0.4s;
    border-radius: 50px;
}

.appointment button[type=submit]:hover {
    background: #1c84e3;
}

.appointment h2 {
    font-size: 32px;
    margin: 0 0 20px;
    padding: 0 0 20px;
    color: #2c4964;
    text-align: center;
}

.appointment p {
    font-size: 16px;
    display: block;
    color: #444444;
}


/* DEPARTMENTS */
#departments {
    /* margin-bottom: -30px; */
    overflow: hidden;
}

.departments .nav-tabs {
    border: 0;
}

.departments .nav-link {
    border: 0;
    padding: 12px 15px 12px 0;
    transition: 0.3s;
    color: #2c4964;
    border-radius: 0;
    border-right: 2px solid #ebf1f6;
    font-weight: 600;
    font-size: 15px;
}

.departments .nav-link:hover {
    color: #1977cc;
}

.departments .nav-link.active {
    color: #1977cc;
    border-color: #1977cc;
}

.departments .tab-pane.active {
    animation: fadeIn 0.5s ease-out;
}

.departments .details h3 {
    font-size: 26px;
    font-weight: 600;
    margin-bottom: 20px;
    color: #2c4964;
}

.departments .details p {
    color: #777777;
}

.departments .details p:last-child {
    margin-bottom: 0;
}


/* DOCTORS */
.doctors {
    background: #fff;
}

.doctors .member {
    position: relative;
    box-shadow: 0px 2px 15px rgba(44, 73, 100, 0.08);
    padding: 30px;
    border-radius: 10px;
}

.doctors .member .pic {
    overflow: hidden;
    width: 180px;
    border-radius: 50%;
}

.doctors .member .pic img {
    transition: ease-in-out 0.3s;
}

.doctors .member:hover img {
    transform: scale(1.1);
}

.doctors .member .member-info {
    padding-left: 30px;
}

.doctors .member h4 {
    font-weight: 700;
    margin-bottom: 5px;
    font-size: 20px;
    color: #2c4964;
}

.doctors .member span {
    display: block;
    font-size: 15px;
    padding-bottom: 10px;
    position: relative;
    font-weight: 500;
}

.doctors .member span::after {
    content: "";
    position: absolute;
    display: block;
    width: 50px;
    height: 1px;
    background: #b2c8dd;
    bottom: 0;
    left: 0;
}

.doctors .member p {
    margin: 10px 0 0 0;
    font-size: 14px;
}

.doctors .member .social {
    margin-top: 12px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.doctors .member .social a {
    transition: ease-in-out 0.3s;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50px;
    width: 32px;
    height: 32px;
    background: #a0bcd5;
}

.doctors .member .social a i {
    color: #fff;
    font-size: 16px;
    margin: 0 2px;
}

.doctors .member .social a:hover {
    background: #1977cc;
}

.doctors .member .social a+a {
    margin-left: 8px;
}


/* FAQ */
#faq {
    background-color: #f1f7fd;
}

.faq-list {
    display: grid;
    place-items: center;
}

.myBTN {
    display: block;
    position: relative;
    font-family: "Poppins", sans-serif;
    font-size: 16px;
    line-height: 24px;
    font-weight: 500;
    outline: none;
    cursor: pointer;
}

.myBTN:hover {
    color: #3291e6;
}

.borr p {
    margin-bottom: 0;
    padding: 10px 0 0 10px;
    font-size: 16px;
    color: #444444;
}


/* TESTIMONIAL */
.testi-swiper {
    overflow: hidden;
}

.swiperWrapper {
    transform: translate3d(-4780px, 0px, 0px);
    -duration: 0ms;
}

.swiperSlide {
    width: 936px;
    margin-right: 20px;
}

.testimonialWrap {
    padding-left: 50px;
}

.testimonialItem {
    box-sizing: content-box;
    padding: 30px 30px 30px 60px;
    margin: 30px 15px;
    min-height: 200px;
    box-shadow: 0px 2px 12px rgba(44, 73, 100, 0.08);
    position: relative;
    background: #fff;
}

.testimonialItem img {
    width: 90px;
    border-radius: 10px;
    border: 6px solid #fff;
    position: absolute;
    left: -45px;
}

.testimonialItem h3 {
    font-size: 18px;
    font-weight: bold;
    margin: 10px 0 5px 0;
    color: #111;
}

.testimonialItem h4 {
    font-size: 14px;
    color: #999;
    margin: 0;
}

.testimonialItem p {
    font-style: italic;
    margin: 15px auto 15px auto;
}

.quote-icon-left {
    color: #badaf7;
    font-size: 26px;
    display: inline-block;
    left: -5px;
    position: relative;
}

.quote-icon-left {
    color: #badaf7;
    font-size: 26px;
    display: inline-block;
    right: -5px;
    position: relative;
    top: 10px;
}


/* GALLERY */
.gallery .gallery-item {
    overflow: hidden;
    border-right: 3px solid #fff;
    border-bottom: 3px solid #fff;
}

.gallery .gallery-item img {
    transition: all ease-in-out 0.4s;
}

.gallery .gallery-item:hover img {
    transform: scale(1.1);
}


/* CONTACT */
.info {
    width: 100%;
    background: #fff;
}

.email,
.phone {
    margin-top: 40px;
}

.info i {
    font-size: 20px;
    color: #1977cc;
    float: left;
    width: 44px;
    height: 44px;
    background: #d6e9fa;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
}

.info h4 {
    padding: 0 0 0 60px;
    font-size: 22px;
    font-weight: 600;
    margin-bottom: 5px;
    color: #2c4964;
}

.info p {
    padding: 0 0 0 60px;
    margin-bottom: 0;
    font-size: 14px;
    color: #4b7dab;
}

.email:hover i,
.address:hover i,
.phone:hover i {
    background: #1977cc;
    color: #fff;
}

.myForm {
    width: 100%;
    background-color: #fff;
}

.myForm input,
.myForm textarea {
    border-radius: 0;
    box-shadow: none;
    font-size: 14px;
}

.myForm button[type=submit] {
    background: #1977cc;
    border: 0;
    padding: 10px 35px;
    color: #fff;
    transition: 0.4s;
    border-radius: 50px;
}

.myForm button[type=submit]:hover {
    background: #1c84e3;
}


.form-group {
    padding-bottom: 8px;
}

.form-group input {
    height: 44px;
}

.form-group textarea {
    padding: 10px 12px;
}


/* FOOTER */
#footer {
    color: #444444;
    font-size: 14px;
    background: #f1f7fd;
}

#footer .footer-top {
    padding: 60px 0 30px 0;
    background: #fff;
    box-shadow: 0px 2px 15px rgba(25, 119, 204, 0.1);
}

#footer .footer-top .footer-contact {
    margin-bottom: 30px;
}

#footer .footer-top .footer-contact h4 {
    font-size: 22px;
    margin: 0 0 30px 0;
    padding: 2px 0 2px 0;
    line-height: 1;
    font-weight: 700;
}

#footer .footer-top .footer-contact p {
    font-size: 14px;
    line-height: 24px;
    margin-bottom: 0;
    font-family: "Raleway", sans-serif;
    color: #777777;
}

#footer .footer-top h4 {
    font-size: 16px;
    font-weight: bold;
    color: #444444;
    position: relative;
    padding-bottom: 12px;
}

#footer .footer-top .footer-links {
    margin-bottom: 30px;
}

#footer .footer-top .footer-links ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

#footer .footer-top .footer-links ul i {
    padding-right: 2px;
    color: #1c84e3;
    font-size: 18px;
    line-height: 1;
}

#footer .footer-top .footer-links ul li {
    padding: 10px 0;
    display: flex;
    align-items: center;
}

#footer .footer-top .footer-links ul li:first-child {
    padding-top: 0;
}

#footer .footer-top .footer-links ul a {
    color: #777777;
    transition: 0.3s;
    display: inline-block;
    line-height: 1;
}

#footer .footer-top .footer-links ul a:hover {
    text-decoration: none;
    color: #1977cc;
}

#footer .footer-newsletter {
    font-size: 15px;
}

#footer .footer-newsletter h4 {
    font-size: 16px;
    font-weight: bold;
    color: #444444;
    position: relative;
    padding-bottom: 12px;
}

#footer .footer-newsletter form {
    margin-top: 30px;
    background: #fff;
    padding: 6px 10px;
    position: relative;
    border-radius: 50px;
    text-align: left;
    border: 1px solid #bfdcf7;
}

#footer .footer-newsletter form input[type="email"] {
    border: 0;
    padding: 4px 8px;
    width: calc(100% - 100px);
}

#footer .footer-newsletter form input[type="submit"] {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    border: 0;
    background: none;
    font-size: 16px;
    padding: 0 20px;
    background: #1977cc;
    color: #fff;
    transition: 0.3s;
    border-radius: 50px;
}

#footer .footer-newsletter form input[type="submit"]:hover {
    background: #1c84e3;
}

#footer .credits {
    padding-top: 5px;
    font-size: 13px;
    color: #444444;
}

#footer .social-links a {
    font-size: 18px;
    display: inline-block;
    background: #1977cc;
    color: #fff;
    line-height: 1;
    padding: 8px 0;
    margin-right: 4px;
    border-radius: 50%;
    text-align: center;
    width: 36px;
    height: 36px;
    transition: 0.3s;
}

#footer .social-links a:hover {
    background: #1c84e3;
    color: #fff;
    text-decoration: none;
}









#back-to-top {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 20px;
    font-size: 24px;
    cursor: pointer;
}